main {
  position: absolute;
  top: 0; left: 0;
  width: 100%; height: 100%;
  overflow: hidden;
  transition: background-color 1.5s;
}

#writer {
  width: 90vw;
  position: absolute;
  left: 5vw; top: 10vh;
  font-family: 'Courier New';
  font-size: 5vw;
  color: white;
}

#writer p {
  margin: 2vh 0;
}

#writer p:before {
  content: "> ";
}

#writer p:after {
  content: "_";
  animation: blink 750ms step-end infinite;
}

#writer p.stop-blink:after {
  display: none;
}

#writer p.link {
  cursor: pointer;
  color: #EF3636;
  text-decoration: underline;
  margin: 2vh 10vw;
}

#writer p.link:before, #writer p.link:after {
  display: none;
}

@keyframes blink {
  from, to { opacity: 0 }
  50% { opacity: 1; }
}

#smiley {
  position: relative;
  width: 40vh; height: 40vh;
  top: 35vh; left: 50vw;
  margin-top: -10vh;
  margin-left: -20vh;
  transition: opacity 1.5s;
}

#smiley img, #smiley svg {
  width: 100%;
  position: absolute;
  transition: opacity 2s;
}

#smiley img, #smiley svg path {
  opacity: 0;
}
