main {
  position: absolute;
  top: 0; left: 0;
  width: 100%; height: 100%;
  overflow: hidden;
}

#smiley {
  position: relative;
}

#smiley img {
  width: auto;
}

#smiley img, #smiley svg {
  position: absolute;
  transition: opacity 2s;
}

#smiley img, #smiley svg path {
  opacity: 0;
}
