[Unit]
Description=Server
After=docker.service
Requires=docker.service

[Service]
Type=oneshot
EnvironmentFile=/root/server_env
ExecStart=-/bin/sh -c '/root/restart.sh'

[Install]
WantedBy=multi-user.target
