[Unit]
Description=Service for restarting system.
After=network.target

[Service]
Type=simple
ExecStart=/bin/sh -c 'sleep 86400 && shutdown -r'

[Install]
WantedBy=multi-user.target
