*, *:before, *:after {
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: red;
}

body {
  background-color: #DDDDDD;
}

h1, h2, h3 {
  font-family: "Roboto";
}

main {
  font-size: 1.1em;
  padding: 0 4%;
}

main h1 {
  text-align: center;
}

span,strong,div {
  font-family: "Open Sans";
}

hr {
  margin: 0 5%;
}

#social-links {
  display: grid;
  grid-template-rows: repeat(4, 1fr);
  row-gap: 15px;
}

#social-links a {
  color: blue;
}

#projects > li {
  list-style-type: none;
}

.social-icon img {
  width: 10%;
  vertical-align: middle;
}

.social-icon span {
  padding-left: 8px;
}

.sub-section > div {
  display: flex;
  flex-flow: column;
}

.summary-bullet {
  padding-left: 24px;
}
