main {
    padding: 0 5.5vw 5vh 5.5vw;
}

main h1 {
    font-size: 3vw;
}

section h2 {
    font-size: 2vw;
}

section h3 {
    padding-left: 1vw;
}

span,strong {
    font-size: 1.25vw;
}

.social-icon {
    padding: 0 1vw;
}

.social-icon img {
    width: 3vw;
    height: 3vw;
}

.sub-section div {
    flex-flow: row;
    justify-content: left;
}

.sub-section div > *, .sub-section ul {
    font-size: 2.5vh;
}

.summary-bullet {
    margin:
}

.summary-bullet > li > .summary-bullet {
    padding: 0 1vw;
}

.timespan {
    margin-left: 2%;
}

#projects {
    padding: 0 0.5vw;
}

#projects > li {
    padding-bottom: 1vh;
}

#social-links {
    display: flex;
    justify-content: space-between;
}
